header,
nav,
aside,
main,
section,
footer{
    margin: 5px;
    border: 1px solid black;
}
p{
    color: blue;
}
nav ul li{
    display: inline;
    margin: 4px;
    font-size: large;
}

body{
    font-family: 'Courier New', Courier, monospace;
}
header{
    background-color: aquamarine;
    
}
nav{
    background-color: lightpink;
    
}
.maincontainer{
    display: flex;

}
form{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
}
form{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
}
.mainSection{
    flex:1;
}

/* table{
    border: 1px solid black;
    padding: 4px;
    margin: 4px;
 } */
    

.gridcontainer{
    display: grid;
    grid-template-columns:repeat(3 1fr) ;
}
.Grid-item{
    display: flex;
    border: 2px;
    background-color: aliceblue;
    border:2px ;
    margin: 2px solid black;
    text-align: center;
    justify-content: space-between;

}
button{
    
    color: red;
    background-color: darkred;
}
footer{
    background-color: blanchedalmond;
}
.footercontainer{
    display: flex;
    justify-content: center;
    
    
    justify-content: space-around;
}
aside{
    color: aqua;
    background-color: chartreuse;
}
.mainSection{
    background-color: lightblue;
}